
@require './lib/fun'
@require './lib/util'


/*
 * Project Style (Mobile First)
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@require './media/all'

/*
 * sm                                                             ≥ 576px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 576px)
  @require 'media/sm'

/*
 * md                                                             ≥ 768px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 768px)
  @require 'media/md'

/*
 * lg                                                             ≥ 992px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 992px)
  @require 'media/lg'

/*
 * xl                                                            ≥ 1200px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1200px)
  @require 'media/xl'

/*
 * xxl                                                           ≥ 1400px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1400px)
  @require 'media/xxl'
