mpd(m=0, p=0, d=block)
  display d
  margin m
  padding p

resetLn(c=black, hc=black, td=false, htd=false)
  &, &:active, &:focus, &:hover
    border none
    outline none
    appearance none
    text-decoration td ? underline : none
    color c
    cursor pointer
  &:hover
    text-decoration htd ? underline : none
    color hc

resetBtn(d=block, c=black, hc=black)
  &, &:active, &:focus, &:hover
    border none
    outline none
    appearance none
    text-decoration none
    display d
    box-sizing border-box
    width 100%
    color c
    text-align center
    cursor pointer
  &:hover
    color hc

trans(t=160)
  t = (t / 1000s)
  transition t all ease-in-out

transAll(t)
  t = (t / 1000s)
  transition t all ease-in-out

b(c=black, w=1, s=solid)
  border (w * 1px) s c

arrowToLeft(w, h, c)
  height 0
  width 0
  border-top (h/2px) solid transparent
  border-right (w*1px) solid c
  border-bottom (h/2px) solid transparent

arrowToRight(w, h, c)
  height 0
  width 0
  border-top (h/2px) solid transparent
  border-left (w*1px) solid c
  border-bottom (h/2px) solid transparent

arrowToTop(w, h, c)
  height 0
  width 0
  border-left (w/2px) solid transparent
  border-right (w/2px) solid transparent
  border-bottom (h*1px) solid c

arrowToBottom(w, h, c)
  height 0
  width 0
  border-left (w/2px) solid transparent
  border-right (w/2px) solid transparent
  border-top (h*1px) solid c

