
/*
 * Utils
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

responsive(media='')
  // Font Size
  for i in (1..100)
    .em-{media}{i}
      font-size i * .1 * 1em

  // Font Weight
  for i in (1..9)
    .fw-{media}{i}
      font-weight i * 100

  // Width
  for i in (1..10)
    .width-{media}{i}
      width i * 100 * 1px

  // Height
  for i in (1..10)
    .height-{media}{i}
      height i * 100 * 1px

  // Max Width
  for i in (1..10)
    .mw-{media}{i}
      max-width i * 100 * 1px

  // Max Height
  for i in (1..10)
    .mh-{media}{i}
      max-height i * 100 * 1px

  // Background Position
  .bg-y-{media}start
    background-position-y 0

  .bg-y-{media}center
    background-position-y 50%

  .bg-y-{media}end
    background-position-y 100%

  .bg-x-{media}start
    background-position-y 0

  .bg-x-{media}center
    background-position-y 50%

  .bg-x-{media}end
    background-position-y 100%


responsive()


/*
 * sm                                                             ≥ 576px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 576px)
  responsive('sm-')

/*
 * md                                                             ≥ 768px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 768px)
  responsive('md-')

/*
 * lg                                                             ≥ 992px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 992px)
  responsive('lg-')

/*
 * xl                                                            ≥ 1200px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1200px)
  responsive('xl-')

/*
 * xxl                                                           ≥ 1400px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1400px)
  responsive('xxl-')
